/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

:root {
    --primary--color: #081839;
    --dashboard--text--color: #ADD8E6;
}

body {
    color: #fff;
    background-color: #f9fafc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: var(--text-reg);
}

/* =====fonts::start===== */
.font-plus-jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

/* =====fonts::end===== */

/* ====common==== */
.dashboard-chat-history {
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
    overflow-y: auto;
    /* Ensures vertical scrolling */
    scrollbar-width: thin;
    /* For Firefox, optional */
    scrollbar-color: #fff transparent;
    /* For Firefox, optional */
}

/* Custom scrollbar for WebKit browsers (like Chrome, Edge, Safari) */
.dashboard-chat-history::-webkit-scrollbar {
    width: 6px;
    /* Adjust scrollbar width */
    height: 20px;
}

.dashboard-chat-history::-webkit-scrollbar-track {
    background: transparent;
    /* Track background */
}

.dashboard-chat-history::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Thumb color */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.dashboard-chat-history::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color on hover */
}

/* ====common==== */

/* ===================================dashboard::start============================================ */
.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.dashboard-sidebar {
    width: 360px;
    background: var(--primary--color);
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

.dashboard-sidebar-header {
    padding: 32px 28px;
}

.new-chat-button {
    margin-top: 40px;
    display: flex;
    border-radius: 94px;
    border: 1px solid #FFF;
    background: #081839;
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.dashboard-chat-history-title {
    padding: 12px 28px;
    color: #ADD8E6;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 164%;
    text-transform: capitalize;
    border-bottom: 1px solid #42526E;
    ;
}

.dashboard-chat-history {
    padding: 24px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow-y: auto;
}

.dashboard-chat-history-item {
    align-items: center;
    gap: 12px;
    cursor: pointer;
    display: flex;
    padding: 7px 6px 7px 16px;
    align-items: center;
    gap: 10px;
}

.dashboard-chat-history-item-title {
    color: var(--dashboard--text--color);
    font-size: 15px;
    font-weight: 500;
    line-height: 164%;
    text-transform: capitalize;
    white-space: nowrap;
}

.dashboard-chat-history-item.active {
    border-radius: 8px;
    background: #172B4D;
    position: relative;
    padding: 16px;
}

.dashboard-chat-item-option-wrapper {
    position: absolute;
    padding: 16px 24px;
    right: 32px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    top: 50%;
    transform: translateY(0%);
    border-radius: 11px;
    background: #FFF;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 20;
}

.dashboard-chat-item-option-wrapper.active {
    opacity: 100;
    transform: translateY(-30%);
}

.dashboard-chat-item-option-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #141414;
    font-style: normal;
    font-weight: 500;
    line-height: 164%;
    font-size: 14px;
    text-transform: capitalize;
}

.dashboard-chat-history-see-more {
    display: flex;
    padding: 7px 6px 7px 16px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--dashboard--text--color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 164%;
    text-transform: capitalize;
}

.dashboard-sidebar-manage {
    margin: 0 8px;
}

.dashboard-sidebar-manage-title {
    color: var(--dashboard--text--color);
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 164%;
    text-transform: capitalize;
    border-top: 1px solid #42526E;
    padding: 16px 28px;
}

.dashboard-sidebar-manage-item {
    padding: 7px 24px 7px 24px;
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.dashboard-sidebar-manage-item.active {
    border-radius: 8px;
    background: var(--30-dark-neutrals-04, #172B4D);
}

.dashboard-sidebar-manage-item.files {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-y-2>*+* {
    margin-top: 0.5rem;
}


/* dashboard container */
.dashboard-container {
    width: calc(100% - 360px);
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.dashboard-header {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    width: 100%;
    padding: 24px 140px 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.dashboard-header-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 164%;
    text-transform: capitalize;
}

.dashboard-header-profile-wrapper {
    position: relative;
}

.dashboard-header-profile-container {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.dashboard-header-profile-image-container {
    height: 52px;
    width: 52px;
    overflow: hidden;
}

.dashboard-header-profile-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.dashboard-header-profile-info-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dashboard-header-profile-menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(30px);
    border-radius: 16px;
    display: flex;
    width: 244px;
    background: #FFF;
    padding: 19px 29px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
    z-index: -1;
}

.dashboard-header-profile-menu.active {
    opacity: 1;
    transform: translateY(10px);
    z-index: 1;
}

.dashboard-header-profile-menu-items {
    color: #141414;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 199%;
}

.dashboard-main-content-wrapper {
    height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    width: 100%;
    overflow-y: auto;

}

.dashboard-main-content-wrapper-homepage {
    height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.dashboard-main-title-wrapper {
    text-align: center;

}

.dashboard-home-main-title {
    color: #141414;
    font-size: 48px;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -0.48px;
    margin-bottom: 24px;
}

.dashboard-home-main-description {
    width: 70%;
    margin: 0 auto;
    color: #141414;
    opacity: 0.6;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 199%;
    /* 35.82px */
}

.dashboard-select-files-select-wrapper {
    height: 80px;
    display: flex;
    padding: 16px 43px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 48px;
    border: 1px solid #E4E5E9;
    color: #141414;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}


.dashboard-form-input-wrapper {

    border-radius: 48px;
    padding: 0 12px;
    border: 1px solid #E4E5E9;
    background: #FFF;
    min-width: 1000px;

}

.dashboard-form-input-form {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 80px;
}

.dashboard-textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    margin-top: 16px;
}

.dashboard-submit-button {
    border: none;
    outline: none;
    background: var(--primary--color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.dashboard-submit-button svg {
    height: 30px;
    width: 30px;
}



.dashboard-form-input-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* chat history page */
.chat-history-title {
    margin-top: 32px;
    text-align: center;
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
    letter-spacing: -0.64px;
}

.chat-history-table {
    margin: 40px 100px;
}

.chat-history-table .table thead tr th {
    padding: 16px 24px;
    background: #F4F5F7;
    color: #141414;
    font-size: 18px;
}

.chat-history-table .table tbody tr td {
    padding: 16px 24px;
    font-weight: 500;
}
.chat-history-table .table tfoot tr td {
    padding: 16px 24px;
    font-weight: 600;
}
/* chat history page */

/* ===================================dashboard::start============================================ */


/* ===================================Modals::start============================================ */
.title-modal-container {
    padding: 32px;
    position: relative;
}

.title-modal-container-description {
    margin-top: 12px;
    color: #141414;
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
    font-weight: 500;
    line-height: 164%;
    text-transform: capitalize;
}

.title-modal-container-title {
    margin-top: 12px;
    color: #081839;
    font-size: 20px;
    font-weight: 600;
    line-height: 199%;
}

.title-modal-container-stats {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #42526E;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 199%;
}

.title-modal-container-cross-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* delete modal */
.delete-modal-container {
    padding: 16px;
}

.delete-modal-title {
    color: #081839;
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 172%;
    letter-spacing: -0.48px;
}

.delete-modal-description {
    margin-top: 8px;
    color: #5A5C5F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 164%;
    text-transform: capitalize;
}
.delete-modal-btn-container{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 32px;
    gap: 12px;
}

.delete-modal-btn {
    outline: none;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding: 4px 16px;
    border-radius: 8px;
    line-height: 164%;
    text-transform: capitalize;
    min-width: 120px;
}

.delete-modal-btn.transparent {
    border: 1px solid #D0D5DD;
    background: #fff;
    color: var(--primary--color);
}

.delete-modal-btn.primary {
    border: 1px solid var(--primary--color);
    background: var(--primary--color);
    color: #fff
}

/* ===================================Modals::end============================================ */