/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

:root {
  --primary--color: #081839;
}

body {
  color: #000;
  background-color: #f9fafc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: var(--text-reg);
}

/* =====fonts::start===== */
.font-plus-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

/* =====fonts::end===== */

/* =====common css::start===== */
.container {
  max-width: 1536px;
  margin: 0 auto;
}

footer p {
  color: #fff;
}

.text-light {
  color: #5a5c5f !important;
}

.text-black {
  color: #111827;
}

.navlink_active {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.navlink_active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 25px;
  background: #fff;
  border-radius: 2px;
}

.primary-description {
  width: 60%;
  margin: 0 auto;
  color: #5a5c5f;
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.button {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  display: flex;
  padding: 13px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 44px;
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-white {
  background: #fff;
  color: var(--primary--color);
}

.button-transparent {
  background: transparent;
  border: 1px solid #fff;
  color: white;
}

.button-title {
  background: transparent;
  border: 1px solid #081839;
  font-weight: 500;
  padding: 10px 33px;
  color: #141414;
}

.featured-button {
  color: #fff;
  border-radius: 4px;
  border: 1px solid var(--primary--color);
  background: var(--primary--color);
}

.footer-button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  white-space: nowrap;
  display: flex;
  height: 48px;
  padding: 13px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #081839;
}

.footer-earning-button {
  display: flex;
  width: 200px;
  height: 56px;
  padding: 13px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--10-primary-button, #081839);
}

.primary-title {
  color: var(--Text-Heading, #141414);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  /* 52.8px */
  letter-spacing: -0.8px;
}

.trial-button {
  border-radius: 30px;
  background: #081839;
  padding: 15px 58px;
}

/* =====common css::end===== */

/* ==============navbar============== */
.header {
  background: #091836;
}

/* ==============footer============== */
.footer {
  background: #091836;
}

.footer-item-title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 164%;
  text-transform: capitalize;
}

.footer-item {
  color: #c7e2e4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.footer-form-title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 164%;
  text-transform: capitalize;
  letter-spacing: 0.7px;
}

.footer-earning-wrapper {
  background: #b9dde7;
  border-radius: 24px;
  padding: 40px 180px;
  position: relative;
}

.footer-earning-title {
  color: #050505;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.footer-earning-description {
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 199%;
}

.footer-bottom {
  border-top: 1px solid #42526e;
}

.footer-earning-image-wrapper-left {
  height: 150px;
  width: 150px;
  position: absolute;
  top: -5%;
  left: -2%;
}

.footer-earning-image-wrapper-right {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -5%;
  right: -2%;
}

.footer-earning-image-wrapper-left img,
.footer-earning-image-wrapper-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ==============Homepage Hero============== */
.hero {
  min-height: calc(100vh - 110px);
  background: #091836;
  overflow: hidden;
}

.hero-wrapper {
  z-index: 1;
  min-height: calc(100vh - 110px);
}

.hero-title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: -0.76px;
}

.glowing-hero-title {
  color: #add8e6;
  font-size: 76px;
}

.banner-filter-input {
  max-width: 400px;
  min-width: 400px;
  width: 100%;
}

.banner-image {
  height: 700px;
  width: 700px;
  position: absolute;
  right: 80px;
  bottom: -20%;
}

/* hero video section */

.hero-video-wrapper {
  margin-top: -350px;
  position: relative;
  border-radius: 16px;
  width: 100%;
  height: 780px;
  overflow: hidden;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.hero-video-wrapper-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* Adjust opacity as needed */
}

#hero-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-video-play-btn {
  cursor: pointer;
  padding: 20px;
  fill: rgba(0, 0, 0, 0.25);
  stroke-width: 1px;
  stroke: #fff;
  box-shadow: -0.73px 0.73px 0.73px -1.46px rgba(255, 255, 255, 0.35) inset;
  backdrop-filter: blur(10px);
}

/* ==============Features::start============== */
.feature-image-card {
  width: 40%;
  background-color: #eceef2;
}

.feature-card {
  width: 60%;
}

.feature-card h3 {
  color: #141414;
  font-family: 'Space Grotesk';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 132%;
  letter-spacing: -0.64px;
}

.feature-card p {
  color: #141414;
  font-family: 'Space Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  /* 180% */
}

/* ==============Features::end============== */

/* ==============Testimonial::start============== */
.testimonial-slider {
  border: 1px solid #e5e5e5;
  background: #fff;
}

.testimonial-slider-description {
  color: #5a5c5f;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.testimonial-slider-user-image {
  width: 68px;
  height: 70px;
  overflow: hidden;
}

.testimonial-slider-user-image img {
  height: 100%;
  width: 100%;
  border-radius: 70px;
  object-fit: cover;
}

.testimonial-slider h4 {
  color: #141414;
}

.testimonial-slider-user-designation {
  color: #5a5c5f;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.testimonials-nav-btn {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 18px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #f0f0f0;
  cursor: pointer;
  transition: ease 0.5s;
}

.testimonials-nav-btn svg path {
  transition: ease 0.5s;
}

.testimonials-nav-btn:hover {
  background: var(--primary--color);
}

.testimonials-nav-btn:hover svg path {
  stroke: #fff;
}

/* ==============Testimonial::end============== */

/* ==============Article::start============== */
.article-card-image-wrapper {
  height: 350px;
  width: 100%;
}

.article-card-image-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.article-card-title {
  color: #081839;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 6px;
}

.article-card-big-title {
  color: #141414;
  font-size: 26px;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: -0.64px;
  margin-bottom: 6px;
}

.article-card-description {
  color: #5a5c5f;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 8px;
}

.article-card-date {
  color: #8993a4;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 164%;
}

/* ==============Article::end============== */

/* ==============Trial::Start============== */
.trial-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  max-height: 700px;
  min-height: 700px;
  height: full;
  background: linear-gradient(to right, #c2d5fd 0%, #c2d5fd 100%);
}

.trial-title {
  color: #141414;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: -1.28px;
}

.trial-description {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: #141414;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

/* ==============Trial::end============== */

/*==========================================Pricing Page::start=========================================== */
.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.tab-container {
  display: flex;
  position: relative;
  gap: 12px;
  margin-bottom: 30px;
  border: 1px solid #d7dcda;
  border-radius: 126.556px;
  background-color: #ebecf0;
}

.tab-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 25px;
  font-size: 16px;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}

.tab-button.active {
  color: white;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 111px;
  background-color: #081839;
  border-radius: 126.556px;
  transition: left 0.3s ease, width 0.3s ease;
}

.content-container {
  width: 100%;
  overflow: hidden;
}

.content {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.content.active {
  opacity: 1;
  display: grid;
  transform: translateY(0);
}

.pricing-card {
  position: relative;
  border-radius: 10.124px;
  background: #fff;
  border-right: 1px solid #e4e4e7;
  border-bottom: 1px solid #e4e4e7;
  border-left: 1px solid #e4e4e7;
  padding: 40px 32px;
  color: #141414;
}

.pricing-card-button {
  color: #081839;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 164%;
  text-transform: capitalize;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 94px;
  transition: 0.3s ease-in-out;
  border: 1px solid #081839;
}

.pricing-card-button svg path {
  transition: 0.3s ease-in-out;
}

.pricing-card-button:hover {
  background: var(--primary--color);
  color: #fff;
}

.pricing-card-button:hover svg path {
  stroke: #fff;
}

.pricing-card-1 {
  border-top: 2.531px solid #5a5c5f;
}

.pricing-card-2 {
  border-top: 2.531px solid #ffab00;
}

.pricing-card-3 {
  border-top: 2.531px solid #05d9a8;
}

.pricing-card-popular-button {
  position: absolute;
  padding: 8px 16px;
  right: 16.127px;
  top: 16.75px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  border-radius: 126.556px;
  background: #059669;
}

.pricing-card-4 {
  border-top: 2.531px solid #081839;
}

/* accordion ::start*/
.pricing-accordion-section,
.pricing-accordion-header,
.pricing-accordion-content,
.pricing-dropdown--arrow {
  transition: transform 0.5s ease;
}

.pricing-accordion-section {
  margin-bottom: 20px;
}

.pricing-accordion-header {
  background: #f2f2f3;
  padding: 20px 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pricing-accordion-content {
  max-height: 0px;
  overflow: hidden;
  padding: 0 15px;
  background-color: #fff;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.pricing-accordion-content-item {
  border-bottom: 1.261px solid #d4d4d8;
  text-align: center;
  margin-bottom: 10px;
}

/* accordion ::end*/
/*==========================================Pricing Page::end=========================================== */

/*==========================================Blog Page::start=========================================== */
.blog-search-wrapper {
  display: inline-flex;
  align-items: flex-end;
  gap: 10px;
  padding: 12px 32px;
  border-radius: 40px;
  border: 1px solid var(--Text-Body, #5a5c5f);
  background: #fff;
}

.blog-search-input {
  min-width: 250px;
}

.blog-tabs-wrapper .nav {
  gap: 28px;
}

.blog-tabs-wrapper .nav-link {
  text-decoration: none;
  min-width: 120px;
  display: flex;
  padding: 7px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #141414;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  border-radius: 29px;
  border: 1px solid #141414;
}

.blog-tabs-wrapper .nav-link.active {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 28.8px */
  border-radius: 29px;
  background: #081839;
}

/*==========================================Blog Page::end=========================================== */
/*========================================Blog Details::end========================================= */
.blog-details-banner {
  height: 650px;
}

.blog-details-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-details-description {
  color: #5a5c5f;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 164%;
}

.blog-details-page {
  background: var(--primary--color);
  min-height: 400px;
}

.details-bg {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.details-filter-input {
  min-width: 400px;
}

.details-filter-input-btn {
  border: none;
  outline: none;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/*========================================Blog Details::start======================================== */

/*========================================Affiliate::start======================================== */
.affiliate-title {
  color: #000;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: -1.28px;
}

.affiliate-description {
  color: #5a5c5f;
  width: 50%;
  font-style: normal;
  font-weight: 400;
  line-height: 164%;
  /* 29.52px */
}

.affiliate-banner-bg {
  max-width: 600px;
  overflow: hidden;
}

.affiliate-banner-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.affiliate-buttons-wrapper {
  gap: 85px;
}

.affiliate-button {
  display: flex;
  height: 62px;
  padding: 15px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #dfe1e6;
  color: #141414;
  font-style: normal;
  font-weight: 500;
  line-height: 164%;
}

/* accordion */
.affiliate-faq .accordion {
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: none;
  --bs-accordion-btn-focus-box-shadow: none;
}

.affiliate-faq .accordion-button {
  color: #111827;
  font-size: 20px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 34.521px;
  /* 155.556% */
}

.affiliate-faq .accordion-body p {
  color: #79637c;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

/*========================================Affiliate::end======================================== */

/*========================================Contact Us::Start======================================== */
.contact-us-description {
  font-size: 18px;
  width: 66%;
  font-style: normal;
  font-weight: 400;
  line-height: 164%;
}

.contact-us-card {
  padding: 32px;
  border-radius: 18px;
  border: 1.172px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23.447px;
  width: 50%;
}

.contact-us-card-icon {
  padding: 12px;
  border-radius: 50%;
  background: #081839;
}

.contact-us-card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: -0.48px;
}

.contact-us-card-description {
  color: #6b7280;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 28.8px */
}

.contact-form label {
  color: #4B5563;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 164%;
  /* 29.52px */
  text-transform: capitalize;
}

.contact-input {
  margin: 12px 0;
  padding: 12px 16px;
  border-radius: 11722.166px;
  border: 1.172px solid #D1D5DB;
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-input input,
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;

}

.contact-form textarea {
  padding: 16px;
  margin-top: 12px;
  border-radius: 18.757px;
  border: 1.172px solid #D1D5DB;
  resize: none;
}

.contact-form button {
  padding: 16px;
  color: #fff;
  display: flex;
  border: none;
  align-items: center;
  gap: 8px;
  justify-content: center;
  width: 100%;
  border-radius: 11722.166px;
  background: var(--primary--color);
  box-shadow: 0px 1.172px 2.345px 0px rgba(0, 0, 0, 0.05);
}

/*========================================Contact Us::End======================================== */